audio {
  background-color: white;
  outline: none;
  border: none;
}
video {
  outline: none;
  border: none;
}
a{
text-decoration:none !important;
color:black;
}

.header{
display:grid;
grid-template-columns: 20% 60% 20%;
}

img{
margin-bottom:20px;
width:100%;
}

.bottom{
}

.item{
font-size: 12px;
text-align: center;
}

td{
padding-left: 5px;
padding-right: 5px;
font-size: 12px;
font-weight: 600;
}